
body {
  font-family: 'Share Tech Mono', monospace;
  margin: 0;
  color: #083D77;
}
a {
  color: #083D77;
}
a:visited {
  color: #083D77;
}
a:hover {
  color: #F95738;
}
button {
  cursor: pointer;
}
.padded-container {
  padding: 8px;
}
.content-section {
  display: flex;
  max-width: 600px;
  margin: 0px auto;
  flex-direction: column;
}
#welcome-message {
  position: absolute;
  text-align: center;
  width: 100vw;
  line-height: calc(100vh - 78px);
  margin: 0;
  z-index: 3;
  color: white;
}
/* Single Student */
.student-container {
  display: flex;
  justify-content: space-between;
}
/* Navigation Bar */
.nav-container {
  display: flex;
  height: 75px;
  justify-content: space-between;
  background-color: #EBEBD3;
  border-bottom: 3px solid #083D77;
}
.logo {
  max-height: 55px;
  margin: 10px 25px;
}
.nav-link-container {
  margin-right: 10px;
  display: flex;
  align-items: center;
}
.nav-link-container a {
  font-size: 1.5em;
  padding: 5px;
  margin: 7px;
  color: #083D77;
}
.nav-link-container a:hover {
  color: #F95738;
}

/* Home */
#home-container {
  overflow: hidden;
  background-color: black;
  position: relative;
}
#video-overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: calc(100vh - 78px);
  width: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 1;
}
#home-container video {
  position: relative;
  min-width: 100vw;
  min-height: calc(100vh - 78px);
}

/* Forms */
.form-container form {
  text-align: center;
  border: 2px solid #F4D35E;
  background-color: #EBEBD3;
  padding: 12px;
  margin-bottom: 8px;
}
.form-container form h3 {
  margin: 0px 0 8px;
}
.form-inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.form-group {
  padding: 7px;
  background-color: #D6D6C0;
  border: 1px solid #F95738;
  margin: 5px;
}
.form-label {
  margin: 5px;
  font-size: 16px;
}
.form-input {
  border: 1px solid #F95738;
  font-size: 16px;
}
.form-select {
  font-size: 16px;
}
.form-button {
  font-size: 16px;
  background-color: #083D77;
  color: white;
  border: 1px solid #F95738;
  margin-top: 5px;
  padding: 8px;
}
.form-button:hover {
  background-color: #F95738;
  border: 1px solid #083D77;
}
.student-button, .campus-button {
  background-color: #F95738;
  color: white;
  border: none;
  margin: 5px;
}
.student-button:hover, .campus-button:hover {
  color: #083D77;
}

/* Campuses */
.campus-container {
  display: flex;
  flex-flow: row wrap;
}
.campus-container a {
  height: 100%;
  width: 100%;
}
.link-box {
  height: 225px;
  width: 100%;
}
.link-box h3 {
  margin: 0;
  line-height: 50px;
  font-size: 25px;
}
.campus-item {
  text-align: center;
  border: 2px solid #083D77;
  background-color: #EBEBD3;
  width: 300px;
  height: 260px;
  margin: 10px auto;
  box-shadow: 2px 3px 3px 1px rgba(255, 255, 255, .3);
  overflow: none;
}
.campus-item img {
  border-top: 2px solid #083D77;
  border-bottom: 2px solid #083D77;
  width: 100%;
  height: 175px;
}
.campus-button {
  border-top: 2px solid #083D77;
  background-color: #083D77;
  color: white;
  border: none;
  margin: 0;
  width: 100%;
  height: 35px;
}
.campus-button:hover {
  cursor: pointer;
  background-color: #F95738;
}

/* Single Campus */
.campus-banner-name {
  margin: 0;
  text-align: center;
  line-height: 150px;
  background-color: rgba(255, 255, 255, 0.4)
}
.campus-banner-img {
  height: 150px;
  width: 100vw;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}

@media (max-width: 500px) {
  body {
    min-width: 325px;
  }
  #main {
    padding-top: 75px;
  }
  .nav-container {
    position: fixed;
    width: 100%;
    top: 0;
  }
  .student-container {
    /* font-size: 14px; */
    flex-flow: column;
    margin-bottom: 20px;
    margin-left: 20%;
  }
  .student-button {
    max-width: 70px;
  }
  .nav-link-container {
    flex-direction: row;
  }
  .nav-link-container a {
    font-size: 14px;
  }
  #assign-student-label {
    display: none;
  }
}
